footer.footer 
    ul.footer__nav 
        li: a(href='#') About Us
        li: a(href='#') Become an Instructor 
        li: a(href='#') Contact 
        li: a(href='#') Careers 
        li: a(href='#') GitHub Repo 
    p.footer__copyright &copy; by 
        ul.footer__nav.footer__nav-right
            li: a(href='#') Taliaa Tauatolo, 
            li: a(href='#') Antonio Tobar, 
            li: a(href='#') Carine Ngwekwe, 
            li: a(href='#') Umreen Imam