footer.footer 
    ul.footer__nav 
        li: a(href='#footer') About Us
        li: a(href='#footer') Become an Instructor 
        li: a(href='#footer') Contact 
        li: a(href='#footer') Careers 
        li: a(href='https://github.com/Umreen24/NewSkill') GitHub Repo 
    ul.footer__nav.footer__nav-right
        p.footer__copyright &copy; by
        li: a(href='https://github.com/taliaa10') Taliaa Tauatolo, 
        li: a(href='https://github.com/TonyTcode') Antonio Tobar, 
        li: a(href='https://github.com/carinevic') Carine Ngwekwe, 
        li: a(href='https://github.com/Umreen24') Umreen Imam