footer.footer 
    ul.footer__nav 
        li: a(href='#') About Us
        li: a(href='#') Become an Instructor 
        li: a(href='#') Contact 
        li: a(href='#') Careers 
        li: a(href='https://github.com/Umreen24/skill_lessons') GitHub Repo 
    ul.footer__nav.footer__nav-right
        p.footer__copyright &copy; by
        li: a(href='https://github.com/taliaa10') Taliaa Tauatolo, 
        li: a(href='#') Antonio Tobar, 
        li: a(href='#') Carine Ngwekwe, 
        li: a(href='https://github.com/Umreen24') Umreen Imam