footer.footer 
    ul 
        li: a(href='#') About Us
        li: a(href='#') Become an Instructor 
        li: a(href='#') Contact 
        li: a(href='#') Careers 
    p by Taliaa Tauatolo, Antonio Tobar, Carine Ngwekwe, Umreen Imam