header.header
    a(href="/").co-name NewSkill
    nav.nav.nav--courses 
        //- a.nav__el(href='/') Home
    nav.nav.nav--user 
        a.nav__el(href='/overview') Browse Courses
    if user
      a.nav__el(href='/me')
        img.nav__user-img(src=`/img/users/${user.photo}` alt=`Photo of ${user.name}`)
        span= user.name.split(' ')[0]
      a.nav__el.nav__el--logout Log out
    else
      a.nav__el(href='/login') Log in
      a.nav__el(href='/signup') Sign Up