.form__group.form__photo-upload
img.form__user-photo(src=`/img/users/${user.photo}`,alt='User photo')
input.form_upload(type='file', accept='image/*', id='photo', name='photo')
label(for='photo') Choose new photo


//add just ('/my-course') in the block content.
+navItem('/my-course' 'My bookings', 'briefcase')