doctype html
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet' href='/css/style.css')
      link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
      script(src='https://js.stripe.com/v3/')
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
      link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&display=swap")
      link(href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet")


      title | #{title}
     

  body
    // HEADER
    include _header

    // CONTENT
    block content
      header.home-header
        .clip-path-wrap
          .clip-path
      h1.home-heading Learn Something New
        h3.home-sub-heading Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam enim iusto cumque quidem officia iste saepe facere labore pariatur deserunt, a ut omnis qui ipsam quam at.
      a.header-cta.btnbtn(href="/overview") Browse Courses

      section.section-about
        .about-img
        .about-text


    // FOOTER
    include _footer
    
    script(src='/js/delete.js')
    script(src='/js/stripe.js')
    script(src='/js/signup.js')
    script(src='/js/login.js')
    script(src='/js/logout.js')
    script(src='/js/index.js')
    script(src='/js/updateSettings.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js')
    script(src='/js/mapbox.js')