doctype html
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet' href='/css/style.css')
      link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
      script(src='https://js.stripe.com/v3/')
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
      link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&display=swap")

      title NewSkill | #{title} Learn Something New
     

  body
    // HEADER
    include _header

    // CONTENT
    block content
      header.home-header
        .clip-path-wrap
          .clip-path
      h1.home-heading Learn Something New
        h3.home-sub-heading Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam enim iusto cumque quidem officia iste saepe facere labore pariatur deserunt, a ut omnis qui ipsam quam at.
      a.header-cta.btnbtn(href="/overview") Browse Courses

      section.section-about
        h1.about-heading SKILLS FOR A LIFETIME 
        .composition-section
          .about-img
            .composition
                img(src="img/courses/course-9-3.jpg" alt="Photo 1" class="composition__photo composition__photo--p1")
                img(src="img/courses/course-2-2.jpg" alt="Photo 2" class="composition__photo composition__photo--p2")
                img(src="img/courses/course-22-cover.jpg" alt="Photo 3" class="composition__photo composition__photo--p3")
        .about-text
          p.home-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus natus impedit officia, vel quod pariatur, corrupti voluptas eos illum animi facilis autem deleniti quam tenetur dicta asperiores harum accusamus perferendis!

      section.deals
        p.home-text.deals-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus natus impedit officia, vel quod pariatur. quam tenetur dicta asperiores harum accusamus perferendis!
        img(src="img/course-card.png" alt="course deal")

      section.footer-cta
        a.header-cta.btnbtn.footer-btn(href="/overview") Browse Courses

    // FOOTER
    include _footer
    
    script(src='/js/stripe.js')
    script(src='/js/delete.js')
    script(src='/js/signup.js')
    script(src='/js/login.js')
    script(src='/js/logout.js')
    script(src='/js/index.js')
    script(src='/js/updateSettings.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js')
    script(src='/js/mapbox.js')