
block append head



extends base 

block content 
    h1 This is the course detail page 
courseId
    if user
    button.btn.btn--green.span-all-rows-book-course(data-tour-id=`${course.id}`) Book course now!
    else
    a.btn.btn--green.span-all-rows(href='/login') log in to book course