extends base

block content
    main.main-overview
        .nav-bar
        .signUp-form
            h2.heading-secondary.ma-bt-lg Register an Account
            form.form.form--signUp
                .form__group
                    label.form__label(for='name') Name
                    input#name.form__input(type='text',
                    placeholder='Enter your name', required)
                .form__group.ma-bt-md
                    label.form__label(for='email') Email Address
                    input#email.form__input(type='email',
                    placeholder='you@example.com', required)
                .form__group.ma-bt-md
                    label.form__label(for='password') Password
                    input#password.form__input(type='password', placeholder='********', required, minlength='8')
                .form__group.ma-bt-md
                    label.form__label(for='passwordConfirm') Confirm password
                    input#passwordConfirm.form__input(type='password', placeholder='********', required, minlength='8')
                .form__group
                    button.btn.btn--blue Register
